<ng-template #content let-modal>
  <form [formGroup]="printerFormGroup" method="post">
    <mat-form-field>
      <mat-label>Device ID</mat-label>
      <input matInput type="text" formControlName="deviceId" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>IP Address</mat-label>
      <input matInput type="text" formControlName="ipAddress" />
    </mat-form-field>
  </form>
  <div>
    <button type="button" (click)="onCloseModal(modal)">Close</button>
    <button type="button" (click)="onSaveModal(modal)">Save changes</button>
  </div>
</ng-template>

<mat-form-field class="filter-field">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>
<button type="button" (click)="getModal(content)">New Printer</button>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
  (matSortChange)="announceSortChange($event)"
  matSortActive="deviceId"
  matSortDirection="asc"
  matSortDisableClear
>
  <ng-container matColumnDef="deviceId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let printer">{{ printer.deviceId }}</td>
  </ng-container>

  <ng-container matColumnDef="ipAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</th>
    <td mat-cell *matCellDef="let printer">{{ printer.ipAddress }}</td>
  </ng-container>

  <ng-container matColumnDef="serialNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</th>
    <td mat-cell *matCellDef="let printer">{{ printer.serialNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="productNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Number</th>
    <td mat-cell *matCellDef="let printer">{{ printer.productNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
    <td mat-cell *matCellDef="let printer">{{ printer.manufacturer }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let printer">{{ printer.description }}</td>
  </ng-container>

  <ng-container matColumnDef="printerType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Printer Type</th>
    <td mat-cell *matCellDef="let printer">
      <span
        class="dot"
        [ngClass]="{
          'type-color': printer.printerType == 'COLOR',
          'type-black': printer.printerType == 'BLACK'
        }"
      ></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="printerStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Printer Status</th>
    <td mat-cell *matCellDef="let printer">
      <span
        class="dot"
        [ngClass]="{
          'status-up': printer.printerStatus == 'PRINTER_UP',
          'status-down': printer.printerStatus == 'PRINTER_DOWN'
        }"
      ></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let printer" class="actions">
      <button (click)="pingPrinter(printer.deviceId)">Ping</button>
      <button>
        <a href="https://{{ printer.ipAddress }}" target="_blank">Panel</a>
      </button>
      <button>Edit</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 20, 50, 100]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
